.wrapper
  .side-bar
    .header
      %h3.header__name
        = current_user.name
      %ul.header__lists
        %li.list
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o.icon
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'

    .groups
      = render "group"

  .chat
    .header
      .left-header
        .left-header__title
          sample
        %ul.left-header__members
          Member :
          %li.members
            sample
      .right-header
        %a.right-header__button
          Edit

    .messages
      = render "chat_message"


    .form
      %form#new_message
        %input#message_content.form__message{name: "message", placeholder: "type a message", type: "text"}/
        .form__mask
          %label.form__mask__image{for: "message_image"}
            %i.fa.fa-picture-o.icon
        %input.form__submit{type: "submit", value: "Send", class: "submit"}
