.wrapper
  .side-bar
    .header
      %h3.header__name
        = current_user.name
      %ul.header__lists
        %li.list
          = link_to new_group_path do
            %i.fa.fa-pencil-square-o.icon
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'

    .groups
      = render "group"

  .chat
    .header
      .left-header
        .left-header__title
          = @group.name
        %ul.left-header__members
          Member :
          %li.members
            - @group.users.each do |user|
              = user.name
      %ul.header__lists
      .right-header
        %a.right-header__button{href: edit_group_path(@group.id)}
          Edit

    .messages
      = render @messages


    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

